body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    /* border: 1px solid black; */
    width: 100%;
    height: 80%;
}