@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html {
    overflow: hidden;
}

.combat-box {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.363);
    width: 100%;
    height: 25%;
    bottom: 0;
    color: white;
    display: flex;
    font-family: 'Press Start 2P', cursive;
}

ul {
    list-style: none;
    display: flex;
    width: 50%;
    font-size: 1.5em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 7em;
    border: .3em white solid;
    margin: 0;
    height: 93%;
    border-radius: 1em;
    margin-bottom: 1em;
}

li {
    padding: 1em;
}


p {
    width: 93%;
    font-size: 1.2em;
    display: flex;
    line-height: 1.8em;
    border: .3em white solid;
    margin: 0;
    height: 93%;
    border-radius: 1em;
    margin-right: 6px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#villain{
    position: relative;
    left: 34vw;
    overflow: hidden;
}

.enemy {
    height: 0.5vh;
}

/*  added */
.health-bar {
    position: relative;
    margin-top: 58vh;
    color: black;
    border-radius: 5px;
    margin-left: 5%;
    font-family: 'Press Start 2P', cursive;
  }
  .bar {
    border: 3px solid white;
    background: green;
    width: 280px;
    height: 10px;
    position: relative;
    transition: width .5s linear;
  }

  .health-bar2 {
    color: purple;
    border-radius: 5px;
    position: relative;
    margin-top: 3%;
    padding-left: 60%;
    width: 10%;
    font-family: 'Press Start 2P', cursive;
  }
  .bar2 {
    border: 3px solid white;
    background: green;
    width: 80px;
    height: 10px;
    position: relative;
    transition: width .5s linear;
  }
