
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Viaoda+Libre&display=swap');

h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

body {
    display: flex;
    justify-content: center;
}


#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 50%;
    padding: 20px;
}

p {
    /* margin-top: 20%; */
    text-align: center;
    font-size: 50px;
} 